<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<h1>Aanbod overzicht</h1>

<section class="for-each-cards">
    <ul>
        <% initiatiefAanbod.forEach(aanbod => {
             %>
            <li>
                <a href="/detail/<%=aanbod.id%>">
                    <% if (aanbod.image) { %>
                        <picture>
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= aanbod.image.id %>?format=avif" type="image/avif">
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= aanbod.image.id %>?format=webp" type="image/webp">
                            <img src="https://fdnd-agency.directus.app/assets/<%= aanbod.image.id %>" width="<%= aanbod.image.width %>" height="<%= aanbod.image.height %>" alt="<%- aanbod.title %>">
                        </picture>
                    <% } %>
               <h2> <%=aanbod.title%> </h2>
               <% if (aanbod.image) { %>
                <!-- onerror; https://github.com/users/SamaraFellaDina/projects/7/views/2?pane=issue&itemId=53408192 -->
            <% } %>     
                </a>           
                <button class="more-info"><a href="/detail/<%=aanbod.id%>">Meer informatie</a></button>
                <form action="/like" method="POST">
                    <label class="heart-checkbox" for="<%= aanbod.id %>-like">
                      <input type="checkbox" name="like" id="<%= aanbod.id %>-like" value="<%= aanbod.id %>" />
                      <span><%= aanbod.likes %></span>
                    </label>
                  </form>            
                </li>
        <% 
        }) %>
    </ul>
</section>

<%- include('../partials/foot.ejs') -%>
