<%- include('../partials/head.ejs') -%>
<%- include('../partials/nav.ejs') -%>

<h1>Vragen overzicht</h1>

<section class="for-each-cards">
    <ul>
        <% initiatiefVraag.forEach(vraag => {
             %>
            <li>
                <a href="/detail/<%=vraag.id%>">
                    <% if (vraag.image) { %>
                        <picture>
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= vraag.image.id %>?format=webp" type="image/webp">
                            <%console.log(vraag.image.id)%>
                            <img src="https://fdnd-agency.directus.app/assets/<%= vraag.image.id %>" width="<%= vraag.image.width %>" height="<%= vraag.image.height %>" alt="<%- vraag.title %>">
                        </picture>
                    <% } %>
               <h2> <%=vraag.title%> </h2>
               <% if (vraag.image) { %>
                <!-- onerror; https://github.com/users/SamaraFellaDina/projects/7/views/2?pane=issue&itemId=53408192 -->
            <% } %>     
                </a>          
                
                <button class="more-info"><a href="/detail/<%=vraag.id%>">Meer informatie</a></button>
                <form action="/like" method="POST">
                    <label class="heart-checkbox" for="<%= vraag.id %>-like">
                        <input type="checkbox" name="like" id="<%= vraag.id %>-like" value="<%= vraag.id %>" />
                        <span><%= vraag.likes %></span>
                    </label>
                </form>  
            </li>
        <% 
        }) %>
    </ul>
</section>

<%- include('../partials/foot.ejs') -%>
